<div class="header">
  <button class="toggle-button" (click)="toggleSidebar()">
    <img src="/menu.png" alt="Toggle Menu">
  </button>

  <div class="invisible-side-bar"></div>

  <div class="side-bar" [class.collapsed]="isSidebarCollapsed">
    <ul class="list">
      <div class="image-side">
        <img src="/logo.png" alt="Logo">
      </div>

      <li>
        <div class="frame">
          <div class="grid">
            <button class="list-item" (click)="openPanel(panels[1])">
              <div class="wrapper">
                <p class="title">Ordinacije</p>
              </div>
            </button>
          </div>
        </div>
      </li>

      <li>
        <div class="frame">
          <div class="grid">
            <button class="list-item" (click)="openPanel(panels[2])">
              <div class="wrapper">
                <p class="title">Korisnici</p>
              </div>
            </button>
          </div>
        </div>
      </li>

      <li>
        <div class="frame">
          <div class="grid">
            <button class="list-item" (click)="openPanel(panels[3])">
              <div class="wrapper">
                <p class="title">Rezervacije</p>
              </div>
            </button>
          </div>
        </div>
      </li>

      <li>
        <div class="frame1">
          <div class="grid">
            <button class="list-item" (click)="logoutUser()">
              <div class="wrapper">
                <img src="/logout.png" class="icon">
                <p class="title" id="logout">Odjava</p>
              </div>
            </button>
          </div>
        </div>
      </li>

    </ul>
  </div>

  <div class="content">
    <div class="spline" *ngIf="checkOrd(panels[0])">
      <h1>ISSO</h1>
    </div>

    <app-ordination *ngIf="checkOrd(panels[1])"></app-ordination>
    <app-user *ngIf="checkUser(panels[2])"></app-user>
  </div>
</div>
