body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
  }
  
  .container {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
  }
  
  .image-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-side img {
    width: 450px;
    height: 450px;
    margin-right: 150px; 
  }
  
  .login-side {
    flex: 1;
    max-width: 500px;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  
  .form-title {
    font-size: 28px;
    color: #154360;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #f4f6f9;
    border-radius: 8px;
  }
  
  mat-form-field {
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
    border: none;
  }
  
  .mat-input-element {
    color: #A9A9A9;
    font-size: 16px;
    position: relative;
  }
  
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
    border-radius: 8px;
  }
  
  .mat-form-field-appearance-fill .mat-form-field-flex .mat-form-field-infix {
    padding: 0;
  }
  
  .login-button {
    background-color: #154360; 
    margin-top: 30px;
    margin-left: 15px;
    color: white;
    border: none; 
    border-radius: 25px; 
    font-weight: bold;
    font-size: large; 
    height: 50px; 
    width: 470px; 
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .login-button:hover {
    background-color: #0f3a5a; 
  }
  
  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-left: 5px;
  }
  
  .remember-checkbox {
    margin-right: 5px;
  }
  
  .remember-label {
    font-size: 16px;
    color: #555;
  }
  
  .forgot-password {
    color: #0f3a5a;
    font-size: 16px;
    text-decoration: none;
    margin-right: 15px;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .input-frame {
    background-color: transparent;
    border: 2px solid #add8e6;
    border-radius: 8px; 
    padding: 15px;
    width: 100%; 
    box-sizing: border-box; 
    transition: border-color 0.3s ease;
  }
  
  .email-input {
    width: 100%; 
    font-size: medium; 
    color:  #000;
    border: none; 
    outline: none;
    padding: 0;
    box-sizing: border-box;
  }
  
  .input-frame:focus-within {
    border-color: #1a5276; 
  }

  .email-input::placeholder {
    color: #154360;
  }
  
  .password-input {
    width: 100%; 
    font-size: medium; 
    color: #A9A9A9; 
    border: none; 
    outline: none; 
    padding: 0; 
    box-sizing: border-box; 
  }
  
  .password-input::placeholder {
    color: #154360; 
  }

  
  .error-message {
    background-color: #ffdddd;
    color: #d8000c;
    border: 1px solid #d8000c;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .error-snackbar {
    background-color: #f44336; 
    color: white;
    text-align: center;
  }
  
  
  .error-message mat-icon {
    margin-right: 8px;
  }
  
  