body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
  }
  
  .container {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
  }
  
  .image-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-side img {
    width: 450px;
    height: 450px;
    margin-right: 150px; /* Smanjeno sa 120px na 60px */
  }
  
  .login-side {
    flex: 1;
    max-width: 500px;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  
  .form-title {
    font-size: 28px;
    color: #154360;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #f4f6f9;
    border-radius: 8px;
  }
  
  mat-form-field {
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
    border: none;
  }
  
  .mat-input-element {
    color: #A9A9A9; /* Blijedo siva boja teksta */
    font-size: 16px;
    position: relative;
  }
  
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
    border-radius: 8px;
  }
  
  .mat-form-field-appearance-fill .mat-form-field-flex .mat-form-field-infix {
    padding: 0;
  }
  
  /* Style for the login button */
  .login-button {
    background-color: #154360; /* Background color */
    margin-top: 30px;
    margin-left: 15px;
    color: white; /* Text color */
    border: none; /* Remove default border */
    border-radius: 25px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    font-size: large; /* Font size */
    height: 50px; /* Height of the button */
    width: 470px; /* Fill the width of the container */
    cursor: pointer; /* Pointer cursor on hover */
    display: flex; /* Flexbox for centering text */
    align-items: center; /* Center the text vertically */
    justify-content: center; /* Center the text horizontally */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Shadow for a subtle 3D effect */
  }
  
  .login-button:hover {
    background-color: #0f3a5a; /* Darker background color on hover */
  }
  
  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-left: 5px;
  }
  
  .remember-checkbox {
    margin-right: 5px;
  }
  
  .remember-label {
    font-size: 16px;
    color: #555;
  }
  
  .forgot-password {
    color: #0f3a5a;
    font-size: 16px;
    text-decoration: none;
    margin-right: 15px;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  /* General styles for the input frame */
  .input-frame {
    background-color: transparent;
    border: 2px solid #add8e6; /* LightBlue border color */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; /* Padding inside the frame */
    width: 100%; /* Fill the width of the container */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    transition: border-color 0.3s ease;
  }
  
  /* Style for the email input field */
  .email-input {
    width: 100%; /* Fill the width of the frame */
    font-size: medium; /* Match the font size */
    color:  #000; /* Text color */
    border: none; /* Initial transparent border */
    outline: none; /* Remove default outline */
    padding: 0; /* Remove default padding */
    box-sizing: border-box;
  }
  
  .input-frame:focus-within {
    border-color: #1a5276; /* Tamnija boja bordera kada je polje fokusirano */
  }
  
  /* Placeholder color */
  .email-input::placeholder {
    color: #154360; /* Placeholder color */
  }
  
  /* Style for the password input field */
  .password-input {
    width: 100%; /* Fill the width of the frame */
    font-size: medium; /* Match the font size */
    color: #A9A9A9; /* Text color */
    border: none; /* Remove default border */
    outline: none; /* Remove default outline */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  
  /* Placeholder color */
  .password-input::placeholder {
    color: #154360; /* Placeholder color */
  }
  